<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock %}</title>
  {% block user_style %}{% endblock %}
  <link href="{{ url_for('static', filename='css/styles.min.css') }}" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
    <header class="container header">
        <div class="header__wrapper">
          {% block header %}{% endblock %}
        </div>
        {% block search %}{% endblock %}
    </header>
    <main class="container">
    <section class="items">
    {% block flash %}{% endblock %}
    {% for post in posts %}
        <div class="items__item item">
            <div class="item__top">
              <a href="{{ url_for('post_blueprint.user_posts_page', username=post.poster_name) }}" class="item__head">
                <div class="item__ava-wrap">
                  <img src="{{ post.poster_avatar }}" alt="" class="item__ava" width="47">
                </div>
                <span class="item__username">{{ post.poster_name }}</span>
              </a>
              {% block delete_bookmark scoped %}{% endblock %}
            </div>
            <a href="{{ url_for('post_blueprint.post_page', post_id=post.pk) }}" class="item__post-link">
              <img src="{{ post.pic }}" alt="" width="348" class="item__post-img">
            </a>
            {% block content scoped %}{% endblock %}
            <div class="item__post-bottom">
              <a href="{{ url_for('post_blueprint.post_page', post_id=post.pk) }}" class="item__btn-more">Подробнее</a>
              <button type="submit" class="{% if post.pk in bookmarks_list %}item__bookmark-btn:hover{% else %}item__bookmark-btn{% endif %}">
                 <img src="/img/bookmark.png" alt="{{ post.pk }}" class="item__bookmark-icon"  width="24">
              </button>
            </div>
            <div class="item__post-info">
              <div class="item__comments-counter">
                <span>
                  {% if comments.get(post.pk) == None %}
                      0 комментариев
                  {% else %}
                      {% if comments.get(post.pk)%100 > 10 and comments.get(post.pk)%100 < 15 %}
                          {{ comments.get(post.pk) }} комментариев
                      {% elif comments.get(post.pk)%10 == 1 %}
                          {{ comments.get(post.pk) }} комментарий
                      {% elif comments.get(post.pk)%10 > 1 and comments.get(post.pk)%10 < 5 %}
                          {{ comments.get(post.pk) }} комментария
                      {% else %}
                          {{ comments.get(post.pk) }} комментариев
                      {% endif %}
                  {% endif %}
                </span>
              </div>
              <div class="item__counter">
                  <img src="/img/eye.png" alt="" class="item__counter-icon" width="26">
                  <span class="item__counter-text">{{ post.views_count }}</span>
              </div>
            </div>
            <div class="item__post-bottom">
              <button type="submit" class="{% if post.pk in likes_list %} item__bookmark-btn:hover {% else %} item__bookmark-btn {% endif %}">
                <img src="/img/like.png" alt="{{ post.pk }}" class="item__bookmark-icon" width="32">
              </button>
              <span id="like{{ post.pk }}" class="item__counter-text">{{ post.likes_count }}</span>
            </div>
            {% block users_comment scoped %}{% endblock %}
        </div>
    {% endfor %}
    {% block pagination scoped %}{% endblock %}
    </section>
  </main>
  {% block svg %}{% endblock %}
  <script>
      $(document).ready(function (){   {# определяем что страница полностью загружена для выполнения скрипта #}
          $(`.item__bookmark-icon`).click(function (){    {# отслеживаем нажитие на класс .item__like-icon #}
              let image = $(this);      {# объявили переменную image и записали туда элемент на который кликнули #}
              let count_bookmark = $('.header__bookmark-counter');
              let postId = image.attr('alt');  {# получили содержимое alt от элемента на который кликнули #}
              let parent_button = image.parent('button'); {# получили у родителя элемента на который кликнули всю информацию по тегу button #}
              let image_type = image.attr('src');
              let likes_counter = document.getElementById('like'+postId);
              console.log(likes_counter.textContent)
              $.ajax({
                  type: "POST",
                  url: "{{ url_for('post_blueprint.get_like_and_bookmark') }}",
                  data: {
                      post_id: postId,
                      element: image_type
                  },
                  success: function (data) {
                      let status = data['status'];
                      let bookmark_list = data['bookmark_list'];
                      let likes_count = data['likes_count'];
                      if (status == 'enable') {
                          count_bookmark.text(bookmark_list);
                          parent_button.attr('class', 'item__bookmark-btn:hover');
                          likes_counter.textContent = likes_count;
                      } else if (status == 'disable'){
                          count_bookmark.text(bookmark_list);
                          parent_button.attr('class', 'item__bookmark-btn');
                          likes_counter.textContent = likes_count;
                      }
                  }
              });
          })
      });
  </script>
</body>
</html>
